[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://mirror.ghproxy.com/https://github.com/google/googletest.git
[submodule "3rdparty/cudnn-frontend"]
	path = 3rdparty/cudnn-frontend
	url = https://mirror.ghproxy.com/https://github.com/NVIDIA/cudnn-frontend.git
